@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@600;700&family=Rubik:wght@300;400;500;700&display=swap");

nav {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
}

.dropdown {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

.items {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.hide {
  display: none;
}

.menu {
  height: 35px;
  width: 100px;
  font-size: 18px;
}
